<div class="selected-civics">
  <div
    class="item civic-item flex"
    (click)="deSelectCivic(civic)"
    *ngFor="let civic of activeCivics"
    [ngClass]="{
      active: civic.status === civicStatus.active,
      disabled: civic.status === civicStatus.disabled,
      invalid: civic.status === civicStatus.invalid
    }"
  >
    <img src="{{ civic.url }}" />
    <span>{{ civic.name }}</span>
  </div>
</div>
<div class="unselected-civics">
  <div
    *ngFor="let civic of availableCivics"
    class="item civic-item flex no-select"
    (click)="civicClicked(civic)"
    [ngClass]="{
      active: civic.status === civicStatus.active,
      disabled: civic.status === civicStatus.disabled
    }"
  >
    <img src="{{ civic.url }}" />
    <span>{{ civic.name }}</span>
  </div>
</div>
