@import '../../../../assets/Styles/government-styles.scss';
.selected-civics {
  border-bottom: solid 2px #00cb9d;
  &.corporate {
    border-bottom: solid 2px #c7cd15;
  }
}
.unselected-civics {
  height: 500px;
  overflow: auto;
}

.civic-item {
  line-height: 1.6rem;
  font-size: 0.9rem;
  border: 2px solid transparent;

  img {
    margin-right: 10px;
    width: 1.6rem;
    height: 1.6rem;
  }

  &.corporate {
    span {
      color: #c7cd15;
    }
  }
}
