<div
  class="selected-civics"
  [ngClass]="{
    corporate:
      activeAuthority && activeAuthority.type === authorityTypes.corporate
  }"
>
  <div
    class="item civic-item flex"
    (click)="deSelectCivic(civic)"
    *ngFor="let civic of activeCivics"
    [ngClass]="{
      active: civic.status === civicStatus.active,
      disabled: civic.status === civicStatus.disabled,
      invalid: civic.status === civicStatus.invalid,
      corporate:
        activeAuthority && activeAuthority.type === authorityTypes.corporate
    }"
  >
    <img src="{{ civic.url }}" />
    <span>{{ civic.name }}</span>
  </div>
</div>
<div class="unselected-civics">
  <div
    *ngFor="let civic of availableCivics"
    class="item civic-item flex no-select"
    (click)="civicClicked(civic)"
    [ngClass]="{
      active: civic.status === civicStatus.active,
      disabled: civic.status === civicStatus.disabled,
      corporate:
        activeAuthority && activeAuthority.type === authorityTypes.corporate
    }"
  >
    <img src="{{ civic.url }}" />
    <span>{{ civic.name }}</span>
  </div>
</div>
