<div *ngIf="loaded" class="position-relative ethics-container ">
  <div class="ethics center">
    <img
      *ngFor="let ethic of centerEthics"
      (click)="click(ethic)"
      src="{{ ethic.url }}"
      [ngClass]="{
        active: ethic.status === ethicStatus.active,
        disabled: ethic.status === ethicStatus.disabled
      }"
    />
  </div>
  <div class="ethics inner">
    <img
      *ngFor="let ethic of innerEthics"
      (click)="click(ethic)"
      src="{{ ethic.url }}"
      [ngClass]="{
        active: ethic.status === ethicStatus.active,
        disabled: ethic.status === ethicStatus.disabled
      }"
    />
  </div>
  <div class="ethics outer">
    <img
      *ngFor="let ethic of outerEthics"
      (click)="click(ethic)"
      src="{{ ethic.url }}"
      [ngClass]="{
        active: ethic.status === ethicStatus.active,
        disabled: ethic.status === ethicStatus.disabled
      }"
    />
  </div>
</div>
